<div class="container-fluid">
 <div class="row">
  <h3 class="sub-header">Book List</h3>
    <%= search_form_for [:admin, @q] do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title_cont %>
      <%= f.submit %>
    <% end %><br/>
    <%= link_to "Export Excel", admin_books_path(format: "xls"), class: "pull-right" %>
    <%= link_to new_admin_book_path do %>
      <span><i class="fa fa-plus fa-2px"></i>&nbsp&nbspNew Book</span>
    <% end %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Publisher</th>
            <th>Describe</th>
            <th>Create At</th>
            <th>Author</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "book", collection: @books %>
        </tbody>
      </table>
      <%= will_paginate @books %>
    </div>
  </div>
</div>