<%= form_for(@user) do |f| %>
  <div class="register-top-grid">
    <h3>PERSONAL INFORMATION</h3>
    <%= render "shared/error_messages", object: f.object %>
    <div class="mation">
      <span>Name<label>*</label></span>
      <%= f.text_field :name, class: "form-control" %>
    
      <span>Email Address<label>*</label></span>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="register-bottom-grid">
	    <h3>LOGIN INFORMATION</h3>
	    <div class="mation">
        <span>Password<label>*</label></span>
        <%= f.password_field :password, class: "form-control" %><br/>
        <span>Confirm Password<label>*</label></span>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
    <div class="register-but">
      <%= f.submit :Submit, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="clearfix"> </div>
