<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Activated</Data></Cell>
        <Cell><Data ss:Type="String">Create At</Data></Cell>
        <Cell><Data ss:Type="String">Role</Data></Cell>
      </Row>
    <% @users.each do |user| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= user.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= user.activated %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= user.created_at %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= user.admin? ? "Admin" : "Member" %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>