<div class="container-fluid">
 <div class="row">
  <h3 class="sub-header">User List</h3>
    <%= search_form_for [:admin, @q] do |f| %>
      <%= f.label :Name %>
      <%= f.text_field :name_cont %>
      <%= f.submit %>
    <% end %><br/>
    <%= link_to "Export Excel", admin_users_path(format: "xls"), class: "pull-right" %>
    <%= link_to new_admin_user_path do %>
      <span><i class="fa fa-plus fa-2px"></i>&nbsp&nbspNew User</span>
    <% end %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Activated</th>
            <th>Create At</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "user", collection: @users %>
        </tbody>
      </table>
      <%= will_paginate @users %>
    </div>
  </div>
</div>